.collection {
	grid-area: 1 / 1 / 2 / 4;
	display: grid;
	//width: 100rem;
	//max-width: 1800px;
	width: 100%;
	//margin: 0 auto;
	grid-template-columns: repeat(14, 1fr); 
	//grid-template-rows: 80vh 585px 270px 778px 670px 430px 430px 275px 250px;

    /* give the grid areas names */
    grid-template-areas: 
		". chd chd chd chd chd chd chd chd chd chd chd chd ."
		". csA csA csA csA csA csA csA csA csA csA csA csA ."
		". csB csB csB csB csB csB csB csB csB csB csB csB ."
		". csC csC csC csC csC csC csC csC csC csC csC csC .";
		grid-gap: 0;
}


.hero-collection {
	grid-area: 1 / 1 / 1 / 15;
	align-self: start;
	img { 
	display: block;
    width: 100%;
    height: 100%;
	object-fit: fill;
	z-index: 1;
	}  
}

.headline-collection {
	grid-area: chd;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: 2fr 1fr 1fr;
	// grid-template-areas: 
	// 	"a a a a a"
	// 	"b b b b b"
	// 	"c c c c c";
	grid-template-areas: 
		"a"
		"b"
		"c";
	p {
		color: #fff;
	}
	.most-wanted	{
		grid-area: a;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		margin: calc(1.2vw + 1vh + 0.5vmin) 0;
		font-size: 5em;
	}
	.new-collection {
		grid-area: b;
		align-self: top;
		justify-self: center;
		text-transform: uppercase;
		font-size: 7em;
		font-weight: bold;
	}
}

.btn-collection {
	grid-area: chd;
	justify-self: center;
	align-self: end;
	width: 20%;
	height: 10%;
	margin-bottom:10rem;
	color: #ffffff;
	background-color: transparent;
	border: 2px	solid #ffffff;	
	a {
		z-index: 1;
	}
}
.btn-collection:hover {
	//color: #000;
	//border: 2px	solid #000;
	background-color: rgba(51, 51, 51, 0.3);
}

.dropdown-collection {
	grid-area: csA;
	padding: 4em 0;
}
/* rowstart / columnstart / rowend / columnend*/
.cards-collection {
	grid-area: csB;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, auto);
	grid-gap: 2em;
	align-items: center;
	justify-items: center;
	.card {
		//grid-area: 1 / 1 / 2 / 1;
		display: grid;
		color: $dark;		
		//grid-template-rows: repeat(3, 1fr);
		img {
			grid-area: 1 / 1 / 1 / 1;
			align-self: center;
			//justify-self: center;
			display: block;
			width: 100%;
			height: 100%;
			object-fit: fill;
		}
		img:hover {
			box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
		}
		.card-description {
			grid-area: 2 / 1 / 2 / 1;
			align-self: center;
			justify-self: center;
			margin: 15px 0;
		}
		.card-price {
			grid-area: 3 / 1 / 3 / 1;
			align-self: center;
			justify-self: start;
			display: inline-block;
		}
		.btn-card {
			grid-area: 3 / 1 / 3 / 1;
			align-self: center;
			justify-self: end;
			border: 1px solid $dark;
			display: flex;
			align-items: center;
			justify-content: space-around;
			//justify-items: center;
			//align-items: center;
			width: 50%;
			height: 2em;
			p {
				font-size: $f-s;	
			}
			icon {
			}
		}
	}
}