/* rowstart / columnstart / rowend / columnend*/
.contact {
	grid-area: content;
	display: grid;
	width: 100%;
	//margin: 0 auto;
	grid-template-columns: repeat(4, 1fr); 

    /* give the grid areas names */
    grid-template-areas: 
		"chd chd chd chd"
		". csA csA ."
		". csB csB ."
		". csC csC ."
		". csD csD .";
        grid-gap: 0;
        
        .is-danger {
            border: 2px solid tomato;
        }
}
.contact-headline {
    grid-area: chd;
    h1 {
        font-size: 3em;
        text-align: center;
        margin: 1em 0;
    }
    
}



form {
    grid-area: csB;
    margin: 5em 0;
    padding: 1em;

}

p {
    margin: 5px 0;
    font-size: $f-l;
}

input[type=text], select, .textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 12px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 2rem;

}



.button {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    color: #000;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	border: 1px solid #ccc;
	font-size: 2rem;
	outline: none;
}

.button:hover {
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.help {
    color: tomato;
}



.submit {
    border-radius: 5px;
    padding: 20px;
}

.thank {
    grid-area: csB;
    font-size: $f-xxxl;
        text-align: center;
        margin-top: 1em;
        padding-bottom: 2em;
}

input[type=text]:focus {
    border: 3px solid #555;
}

textarea:focus {
    border: 3px solid #555;
}
