/* rowstart / columnstart / rowend / columnend*/
.homepage {
	grid-area: 1 / 1 / 2 / 15;
	display: grid;
	//width: 100rem;
	//max-width: 1800px;
	width: 100%;
	margin: 0 auto;
	grid-template-columns: repeat(14, 1fr); 
	//grid-template-rows: 80vh 585px 270px 778px 670px 430px 430px 275px 250px;

    /* give the grid areas names */
    grid-template-areas: 
		". hd hd hd hd hd hd hd hd hd hd hd hd ."
		". sA sA sA sA sA sA sA sA sA sA sA sA ."
		". sB sB sB sB sB sB sB sB sB sB sB sB ."
		". sC sC sC sC sC sC sC sC sC sC sC sC ."
		". sD sD sD sD sD sD sD sD sD sD sD sD ."
		". sE sE sE sE sE sE sE sE sE sE sE sE ."
		". sF sF sF sF sF sF sF sF sF sF sF sF .";
		grid-gap: 0;
}
/* HERO IMAGE START */

.hero-image {
	grid-area: 1 / 1 / 2 / 15;
	align-self: start;
	img { 
	display: block;
    width: 100%;
    height: 100%;
	object-fit: fill;
	z-index: -1;
	}  
}

.btn-hero {
	grid-area: hd;
	justify-self: end;
	align-self: end;
	width: 30%;
	height: 10%;
	margin-bottom:7rem;
	color: #ffffff;
	background-color: transparent;
	border: 2px	solid #ffffff;	
}

/* SECTION A START - "LOOKBOOK" */
.sectionA {
	margin: 5em 0;
	grid-area: sA;
	align-self: center;
	display: grid;
	grid-template-columns: 1fr 1.35fr 1fr;	
	.lookbook-img1{
		//border: 1px solid orange;
		//margin: auto;
		width: 100%;
		height: 100%;
		background-color: #000;
		align-self: center;
		justify-self: end;
		img {
			opacity: 0.7;
			display: block;
			width: 100%;
			height: 100%;
			object-fit: fill;
		}
	}
	.lookbook-img2{
		//margin: auto;
		width: 100%;
		height: 100%;
		background-color: #000;
		align-self: center;
		justify-self: start;
		img {
			opacity: 0.7;
			display: block;
			width: 100%;
			height: 100%;
			object-fit: fill;
		}
	}
	.newsletter {
		width: 100%;
		height: 105%;
		background-color: $lightergrey;
		-webkit-box-shadow: 0px 17px 39px 0px rgba(0,0,0,0.2);
		-moz-box-shadow: 0px 17px 39px 0px rgba(0,0,0,0.2);
		box-shadow: 0px 17px 39px 0px rgba(0,0,0,0.2);
		align-self: center;
		justify-self: center;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.newsletter-inner {
		border: 2px solid $middlegrey;
		width: 95%;
		height: 95%;
		padding:10px 10px;
		display: flex;
		flex-direction: column;
		align-items: center;

		.icon-container{
			margin-top: 2%;
			width: 20%;
			.circle {
				position: relative;
				width: 100%;
				height: 100%;
				border-radius: 100%;
				//overflow: hidden;
				background-color: $lightblue;
				z-index: 1;
				.icon-box {
					position: absolute;
					width: 100%;
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					.icon{
						color: #fff;
						object-fit: scale-down;
						//font-size: 80px;
						width: 50%;
						height: 50%;
					}
				}
			}
			::after {
				content: '';
				display: block;
				padding-bottom: 100%;
			  } 
		}

		h2 {
			text-transform: uppercase;
			font-size: 2.5rem;
			font-weight: bold;
			margin-top: 4%;
			text-align: center;
		}

		h3 {
			text-transform: uppercase;
			font-size: $f-l;
			width: 70%;
			text-align: center;
			font-weight: 100;
			color: #9d9d9d;
			margin-top: 4%;
		}

		input {
			border: none;
			background-color: $lightergrey;
			text-transform: uppercase;
			text-align: center;
			border-bottom: 2px solid #000;
			font-weight: 900;
			font-size: $f-l;
			width: 90%;
			margin-top: 5%;
			line-height: 250%;
			outline: none;
			cursor: pointer;		
		}
		input:focus::-webkit-input-placeholder { opacity: 0; }
		input:focus::-moz-placeholder { opacity: 0; }
		input:focus:-moz-placeholder { opacity: 0; }
		input:focus:-ms-input-placeholder { opacity: 0; }
		input::-webkit-input-placeholder { color: #000; }
		input::-moz-placeholder { color: #000; opacity: 1; }
		input:-ms-input-placeholder { color: #000; }
		input:-moz-placeholder { color: #000; opacity: 1; }	

		.btn {
		margin-top: 9%;
		width: 90%;
		height: 20%;
		color: #000;
		background-color: transparent;
		border: 1px	solid #000;
		font-weight: 900;
		}
	}


}

/* SECTION B START - "TOP BRANDS" */
.sectionB-BG{
	grid-area: 3 / 1 / 3 / 15;
	background-color: $lightgrey;
}
.sectionB {
	//margin: 5em 0;
	grid-area: sB;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(3, 1fr);
	// grid-template-areas: 
	// 	"a a a a a"
	// 	"b b b b b"
	// 	"c c c c c";
	grid-template-areas: 
		"a"
		"b"
		"c";
	.top-brands	{
		grid-area: a;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: calc(1.2vw + 1vh + 0.5vmin) 0;
	
		p {
			text-transform: uppercase;
			font-size: 1.4em;
			font-weight: bold;
		}
	}
	.brand-logos {
		grid-area: b;
		display: flex;
		justify-content: space-between;
		align-items: center;
		//margin: 20% 0;
		div {
			margin: 0;
			padding: 0;
			display: inline-block;
		}
		img{
			display: block;
				width: 100%;
				height: 100%;
				object-fit: scale-down;
		}
	}	
	.slider-controls {
		grid-area: c;
		align-self: center;
		justify-self: center;
		img{
			display: block;
				width: 100%;
				height: 100%;
				object-fit: scale-down;
		}
	}
}
/* SECTION C START - "MUST HAVE FOR HER" */
.sectionC {
	grid-area: sC;
	margin: 5em 0;
	display: grid;
	grid-template-columns: 1.145fr 0.855fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: 
		"l1 r1"
		"l1 r2";
	grid-gap: 5px;
	img{
		display: block;
		width: 100%;
		height: 100%;
		object-fit: fill;
	}
	.left-image {
		grid-area: l1;
		align-self: center;
		justify-self: end;
		//background-image: url(src="/src/images/Homepage/MustHaveForHerFull.jpg");
		//background-size: cover;
		width: 100%;
		height: 100%;
	}
	.right-image-top {
		grid-area: r1;
		align-self: center;
		// width: 100%;
		// height: 100%;
	}
	.right-image-botm {
		grid-area: r2;
		align-self: center;
	}
}
/* SECTION D START - "PRODUCTS SLIDER" */
.sectionD {
	grid-area: sD;
	align-self: center;
	justify-self: center;
	.slick-container {
		width: 500px;
		height: 300px;
		a {
			float: left;
		}
	}
}

/* rowstart / columnstart / rowend / columnend*/
/* SECTION E START - "OFFERS" */
.sectionE-bgImage {
	grid-area: 6 / 1 / 6 / 15;
	img { 
		display: block;
		width: 100%;
		height: 100%;
		object-fit: fill;
		} 
	z-index: -1;
}
.sectionE {
	grid-area: sE;	
	//margin: 5em 0;
	
	display: grid;
	//padding: 40px;
	grid-template-columns: 2fr 1fr 2fr;
	align-self: center;
	//justify-self: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 4rem;
	.text-left{
		text-align: right;
		margin: auto 0;
		padding: 0 2rem;
	}
	.text-right{
		text-align: left;
		margin: auto 0;
		padding: 0 2rem;
	}
	.middle{
		.icon-container{
			width: 100%;
			//z-index: -1;
			.circle {
				position: relative;
				width: 100%;
				height: 100%;
				border-radius: 100%;
				background-color: rgba(51, 208, 222, 0.7);
				.icon-box {
					position: absolute;
					width: 100%;
					height: 100%;
					display: flex;
					align-content: center;
					justify-content: center;
					
					img{
						color: #fff;
						object-fit: fill;
						margin: 15% 0 0 10%;
						width: 70%;
						height: 70%;
					}
				}
				
			}
			::after {
				content: '';
				display: block;
				padding-bottom: 100%;
			  } 
			  
		}
	}
	
	

}
/* SECTION F START - "PRESENTATIONS SLIDER" */
.sectionF {
	grid-area: sF;
}
