/* rowstart / columnstart / rowend / columnend*/
.homepage {
	grid-area: 1 / 1 / 2 / 4;
	//grid-area: content;
	display: grid;
	width: 100%;
	//margin: 0 auto;
	grid-template-columns: repeat(14, 1fr); 

    /* give the grid areas names */
    grid-template-areas: 
		". hd hd hd hd hd hd hd hd hd hd hd hd ."
		". sA sA sA sA sA sA sA sA sA sA sA sA ."
		"sB sB sB sB sB sB sB sB sB sB sB sB sB sB"
		". sC sC sC sC sC sC sC sC sC sC sC sC ."
		". sD sD sD sD sD sD sD sD sD sD sD sD ."
		". sE sE sE sE sE sE sE sE sE sE sE sE ."
		". sF sF sF sF sF sF sF sF sF sF sF sF .";
		grid-row-gap: 90px;
}
/* HERO IMAGE START */

.hero-home {
	grid-area: 1 / 1 / 2 / 15;
	//align-self: start;
	img { 
	display: block;
    width: 100%;
    height: 100%;
	object-fit: cover;
	z-index: -1;
	}  
}

.btn-hero-home {
	grid-area: hd;
	justify-self: end;
	align-self: end;
	width: 30%;
	height: 10%;
	margin-bottom:7em;
	color: #ffffff;
	background-color: transparent;
	border: 2px	solid #ffffff;	
	z-index: -5;
}

/* SECTION A START - "LOOKBOOK" */
.homeA {
	margin: $sect-margin;
	grid-area: sA;
	align-self: center;
	display: grid;
	grid-template-columns: 1fr 1.35fr 1fr;	
	grid-template-areas:
		"a b c";
	.lookbook-img1{
		grid-area: a;
		width: 100%;
		height: 95%;
		background-color: #000;
		align-self: center;
		justify-self: end;
		img {
			opacity: 0.7;
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.lookbook-img2{
		grid-area: c;
		width: 100%;
		height: 95%;
		background-color: #000;
		align-self: center;
		justify-self: start;
		img {
			opacity: 0.7;
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.newsletter {
		grid-area: b;
		width: 100%;
		height: 100%;
		background-color: $lightergrey;
		-webkit-box-shadow: 0px 17px 39px 0px rgba(0,0,0,0.2);
		-moz-box-shadow: 0px 17px 39px 0px rgba(0,0,0,0.2);
		box-shadow: 0px 17px 39px 0px rgba(0,0,0,0.2);
		align-self: center;
		justify-self: center;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.newsletter-inner {
		border: 2px solid $middlegrey;
		width: 95%;
		height: 95%;
		padding:10px 10px;
		display: flex;
		flex-direction: column;
		align-items: center;

		.icon-container{
			margin-top: 0.2em;
			width: 20%;
			.circle {
				position: relative;
				width: 100%;
				height: 100%;
				border-radius: 100%;
				//overflow: hidden;
				background-color: $lightblue;
				z-index: 1;
				.icon-box {
					position: absolute;
					width: 100%;
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					.icon{
						color: #fff;
						object-fit: scale-down;
						//font-size: 80px;
						width: 50%;
						height: 50%;
					}
				}
			}
			::after {
				content: '';
				display: block;
				padding-bottom: 100%;
			  } 
		}

		h2 {
			text-transform: uppercase;
			font-size: 2.5rem;
			font-weight: bold;
			margin-top: 0.5em;
			text-align: center;
		}

		h3 {
			text-transform: uppercase;
			font-size: $f-l;
			width: 70%;
			text-align: center;
			font-weight: 100;
			color: #9d9d9d;
			margin-top: 1em;
		}

		input {
			border: none;
			background-color: $lightergrey;
			text-transform: uppercase;
			text-align: center;
			border-bottom: 2px solid #000;
			font-weight: 900;
			font-size: $f-l;
			width: 90%;
			margin-top: 1em;
			line-height: 250%;
			outline: none;
			cursor: pointer;		
		}
		input:focus::-webkit-input-placeholder { opacity: 0; }
		input:focus::-moz-placeholder { opacity: 0; }
		input:focus:-moz-placeholder { opacity: 0; }
		input:focus:-ms-input-placeholder { opacity: 0; }
		input::-webkit-input-placeholder { color: #000; }
		input::-moz-placeholder { color: #000; opacity: 1; }
		input:-ms-input-placeholder { color: #000; }
		input:-moz-placeholder { color: #000; opacity: 1; }	

		.btn {
		margin-top: 2em;
		width: 90%;
		height: 4em;
		color: #000;
		background-color: transparent;
		border: 1px	solid #000;
		font-weight: 900;
		}
	}
}

/* SECTION B START - "TOP BRANDS SLIDER" */
 .homeB-BG{
 	grid-area: sB;
 }
/* SECTION C START - "MUST HAVE FOR HER" */
.homeC {
	grid-area: sC;
	margin: $sect-margin;
	display: grid;
	grid-template-columns: 1.145fr 0.855fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: 
		"l1 r1"
		"l1 r2";
	grid-gap: 5px;
	img{
		display: block;
		width: 100%;
		height: 100%;
		object-fit: fill;
	}
	.left-image {
		grid-area: l1;
		align-self: center;
		justify-self: end;
		//background-image: url(src="/src/images/Homepage/MustHaveForHerFull.jpg");
		//background-size: cover;
		width: 100%;
		height: 100%;
	}
	.right-image-top {
		grid-area: r1;
		align-self: center;
		// width: 100%;
		// height: 100%;
	}
	.right-image-botm {
		grid-area: r2;
		align-self: center;
	}
}
/* SECTION D START - "PRODUCTS SLIDER" */
.homeD {
	grid-area: sD;
	
	
	.productList{
		.tabs-component-tabs {
			text-align: center;
			list-style: none;
			display: flex;
			justify-content: center;
			margin-bottom: 40px;
			>li{
			  margin: 0 20px;
			  >a{
				text-decoration: none;
				text-transform: uppercase;
				color: #333;
			  }
			}
			.is-active{
				text-decoration: underline;
			}
		}
		.tabs-component-panel{
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: repeat(3, auto);
			grid-gap: 2em;
			align-items: center;
			justify-items: center;
			.card {
				//grid-area: 1 / 1 / 2 / 1;
				display: grid;
				color: $dark;		
				//grid-template-rows: repeat(3, 1fr);
				img {
					grid-area: 1 / 1 / 1 / 1;
					align-self: center;
					//justify-self: center;
					display: block;
					width: 100%;
					height: 100%;
					object-fit: fill;
				}
				img:hover {
					box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
				}
				.card-description {
					grid-area: 2 / 1 / 2 / 1;
					align-self: center;
					justify-self: center;
					margin: 15px 0;
				}
				.card-price {
					grid-area: 3 / 1 / 3 / 1;
					align-self: center;
					justify-self: start;
					display: inline-block;
				}
				.btn-card {
					grid-area: 3 / 1 / 3 / 1;
					align-self: center;
					justify-self: end;
					border: 1px solid $dark;
					display: flex;
					align-items: center;
					justify-content: space-around;
					//justify-items: center;
					//align-items: center;
					width: 50%;
					height: 2em;
					box-shadow: 0 0px 0px 0 rgba(0,0,0,0.16), 0 0 0 0px rgba(0,0,0,0.08);
					p {
						font-size: $f-s;	
					}
					icon {
					}
				}
				.btn-card:hover {
						box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
				}
			}
		}
	}

}

/* rowstart / columnstart / rowend / columnend*/
/* SECTION E START - "OFFERS" */
.homeE-bgImage {
	grid-area: 6 / 1 / 6 / 15;
	margin: $sect-margin;
	img { 
		display: block;
		width: 100%;
		height: 100%;
		object-fit: fill;
		} 
	z-index: -1;
}
.homeE {
	grid-area: sE;	
	//margin: 5em 0;
	display: grid;
	//padding: 40px;
	grid-template-columns: 2fr 1fr 2fr;
	align-self: center;
	//justify-self: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 4rem;
	.text-left{
		text-align: right;
		margin: auto 0;
		padding: 0 2rem;
	}
	.text-right{
		text-align: left;
		margin: auto 0;
		padding: 0 2rem;
	}
	.middle{
		.icon-container{
			width: 100%;
			//z-index: -1;
			.circle {
				position: relative;
				width: 100%;
				height: 100%;
				border-radius: 100%;
				background-color: rgba(51, 208, 222, 0.7);
				.icon-box {
					position: absolute;
					width: 100%;
					height: 100%;
					display: flex;
					align-content: center;
					justify-content: center;
					
					img{
						color: #fff;
						object-fit: fill;
						margin: 15% 0 0 10%;
						width: 70%;
						height: 70%;
					}
				}
				
			}
			::after {
				content: '';
				display: block;
				padding-bottom: 100%;
			  } 
			  
		}
	}
	
	

}
/* SECTION F START - "PRESENTATIONS SLIDER" */
.homeF {
	grid-area: sF;
}
