@media screen and (max-width: 1500px) {
	html {
		font-size: 80%;
	}
}

@media screen and (max-width: 1200px) {
	html {
		font-size: 68%;
	}
}


@media screen and (max-width: 1000px) {
	html {
		font-size: 100%;
	}
	.wrapper {
		display: grid;
		//width: auto;
		//margin: auto;
		grid-template-columns: repeat(6, 1fr);
		//grid-template-rows: auto;
		/* give the grid areas names */
		grid-template-areas: 
			". hd hd hd hd ."
			". sA sA sA sA ."
			". sB sB sB sB ."
			". sC sC sC sC ."
			". sD sD sD sD ."
			". sE sE sE sE ."
			". sF sF sF sF ."
			". sG sG sG sG ."
			". ft ft ft ft .";
	}	
	.sectionA {
		grid-template-columns: 1fr;	
	}
}