/* rowstart / columnstart / rowend / columnend*/
.product {
	grid-area: 2 / 1 / 2 / 4;
	display: grid;
	//width: 100rem;
	//max-width: 1800px;
	width: 100%;
	margin: 0 auto;
	grid-template-columns: repeat(14, 1fr); 
	//grid-template-rows: 80vh 585px 270px 778px 670px 430px 430px 275px 250px;

    /* give the grid areas names */
    grid-template-areas: 
		". phd phd phd phd phd phd phd phd phd phd phd phd ."
		". psA psA psA psA psA psA psA psA psA psA psA psA ."
		". psB psB psB psB psB psB psB psB psB psB psB psB ."
		". psC psC psC psC psC psC psC psC psC psC psC psC ."
		". psD psD psD psD psD psD psD psD psD psD psD psD .";
		grid-gap: 0;
}

h2 {
	font-size: 3em;
}

h3 {
	font-size: 2em;
}

p {
	font-size: $f-n;
}



.inline {
	display: flex;
	align-items: center;
	a {
		margin-left: 10px;
		.icon {
		margin-right: 10px;
		}
	}
}
.product-banner {
		grid-area: 1 / 1 / 1 / 15;
		align-self: start;
		//display: flex;
		img { 
		display: block;
		width: 100%;
		height: 100%;
		object-fit: fill;
		z-index: -1;
		}  
}

.product-headline-banner {
	grid-area: phd;
	align-self: center;
	justify-self: center;
	color: #fff;
	text-transform: uppercase;
	font-size: $f-xxxl;
}

.product-detail {
	
	grid-area: psA;
	display: grid;
	grid-template-columns: 0.15fr 1fr 1.2fr;
	grid-template-areas: 
		"a b c"
		"a b d";
	margin: 5em 0;
	grid-gap: 2em;

	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: scale-down;
		}

	.sideimages {
		grid-area: a;
		align-self: start;
		justify-self: start;
		display: flex;
		flex-direction: column;
		a {
			margin: 0 0 1em 0;
		}
	}
	.selected-image {
		grid-area: b;
		align-self: start;
		justify-self: start;
	}
	.product-options {
		grid-area: c;
		align-self: start;
		display: grid;
		grid-gap: 1em;

		.product-price {
			margin: 0.5em 1em 0.5em 0;
		}
		.btn {
			align-self: center;
			border: 1px solid $darkgrey;
			display: flex;
			align-items: center;
			justify-content: space-around;
			justify-items: center;
			width: 40%;
			height: 3em;
			box-shadow: 0 0px 0px 0 rgba(0,0,0,0.16), 0 0 0 0px rgba(0,0,0,0.08);
			p {
				font-size: $f-s;	
			}
		}
		.btn:hover {
				box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
		}
		.btn-dropdown {
			border: 2px solid $darkgrey;
			justify-content: space-between;
			padding: 0 10px;
			height: 2.5em;
			p {
				color: #000;
				text-transform: none;
			}
		}
		.btn-bag {
			background-color: $lightblue;
			justify-content: center;
			padding: 1em;
			border: none;
			color: #fff;
			height: 3.5em;
			p {
				margin-left: 1em;
				color: #fff;
			}
		}
		.btn-save {
			background-color: $middlegrey;
			border: none;
			justify-content: center;	
			padding: 1em;
			p {
				color: #000;
			}
		}
	}
	.options-tabs {
		grid-area: d;
	}
}



.product-sharpen {
	grid-area: 3 / 3 / 3 / 13;
	margin: 5em 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	h2 {
		line-height: 2em;
		font-weight: 900;
		letter-spacing: 10px;
		color: $dark;
	}
	p {
		line-height: 3em;
		text-align: center;
		color: $darkgrey;
	}
}

.product-elegant {
	grid-area: 4 / 1 / 4 / 15;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	margin: 5em 0;
	display: grid;
	grid-template-areas:
	"a b"
	"c d";
	img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	}
	.elegant-detail-top {
		background-color: $dark;
		color: white;
		padding: 6em;
		p {
			color: #939393;
			line-height: 3em;
		}
		h3 {
			font-size: 3em;
			margin-bottom: 1em;
		}
		.product-style-icons {
			margin-top: 4em;
			display: grid;
			grid-template-columns: 1fr;
			//grid-template-rows: repeat(2, 1fr);
			a {
				width: 100%;
				height: 100%;
				border-radius: 100%;
				z-index: 1;
			}
			.product-style-buttons {
				display: flex;
					justify-content: space-around;
					//align-items: space-between;		
			}
				.icon-container{
					display: flex;
					justify-content: flex-start;
					
					width: 20%;
					
					.circle {	
						position: relative;
						width: 100%;
						height: 100%;
						border-radius: 100%;
						display: flex;
						border: 1px solid $darkgrey2;
						z-index: 1;
						.icon-box {
							position: absolute;
							width: 100%;
							height: 100%;
							display: flex;
							align-items: center;
							justify-content: center;
							.icon{
								color: $darkgrey2;
								object-fit: scale-down;
								//font-size: 80px;
								width: 50%;
								height: 50%;
							}
						}
					}
					::after {
						content: '';
						display: block;
						padding-bottom: 100%;
					} 
				}
			}
			.button-txt {
				display: flex;
				justify-content: space-around;
			}
			.circle:hover {
				background-color: rgba(133,133,133,0.1);
				box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
				border: none;
			}
		.btn-product-read-more {
			border: 2px solid $darkgrey;
			display: flex;
			justify-content: center;
			align-items: center;
			//padding: 0 10px;
			height: 2.8em;
			width: 50%;
			margin-top: 4em;
			box-shadow: 0 0px 0px 0 rgba(0,0,0,0.16), 0 0 0 0px rgba(0,0,0,0.08);
			a {
				color: #fff;
			}
		}
		.btn:hover {
			box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
			background-color: rgba(133,133,133,0.1);
		}
	}
	.elegant-detail-btm {
		background-color: #33d0de;
		color: white;
		padding: 6em;
		p {
			//color: #a1a1a1;
			line-height: 3em;
		}
		h3 {
			font-size: 3em;
			margin-bottom: 1em;
		}

		.product-style-icons {
			margin-top: 4em;
			display: grid;
			grid-template-columns: 1fr;
			//grid-template-rows: repeat(2, 1fr);
			a {
				width: 100%;
				height: 100%;
				border-radius: 100%;
				z-index: 1;
			}
			.product-style-buttons {
				display: flex;
					justify-content: space-around;
					//align-items: space-between;		
			}
				.icon-container{
					display: flex;
					justify-content: flex-start;
					
					width: 20%;
					
					.circle {	
						position: relative;
						width: 100%;
						height: 100%;
						border-radius: 100%;
						display: flex;
						border: 1px solid #fff;
						z-index: 1;
						.icon-box {
							position: absolute;
							width: 100%;
							height: 100%;
							display: flex;
							align-items: center;
							justify-content: center;
							.icon{
								color: #fff;
								object-fit: scale-down;
								//font-size: 80px;
								width: 50%;
								height: 50%;
							}
						}
					}
					::after {
						content: '';
						display: block;
						padding-bottom: 100%;
					} 
				}
			}
			.button-txt {
				display: flex;
				justify-content: space-around;
			}
			.circle:hover {
				background-color: rgba(133,133,133,0.1);
				box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
				border: none;
			}

		.btn-product-read-more {
			border: 2px solid #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			//padding: 0 10px;
			height: 2.8em;
			width: 50%;
			margin-top: 4em;
			box-shadow: 0 0px 0px 0 rgba(0,0,0,0.16), 0 0 0 0px rgba(0,0,0,0.08);
			a {
				color: #fff;
			}
		}
		.btn:hover {
			box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
			background-color: rgba(133,133,133,0.1);
		}
	}
}

.big-discounts-bg {
	grid-area: 5 / 1 / 5 / 15;
	margin: 5em 0;
	display: flex;
	justify-content: center;
	align-items: center;	
	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: fill;
	}
}

.big-discounts {
	border: 4px solid #fff;
	grid-area: psD;
	align-self: center;
	justify-self: center;
	justify-content: center;
	align-items: center;
	display: flex;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 10px;
	font-size: 3.5em;
	font-weight: 900;
	width: 50%;
	height: 18%;
}
