/* SECTION G START - "SOCIAL MEDIA" */


.SoMe {
	grid-area: SoMe;
	margin: $sect-margin;
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	grid-template-rows: 1fr 2fr;
	grid-template-areas: 
		". a ."
		". b .";

	.get-us-on	{
		grid-area: a;
		display: flex;
		flex-direction: column;
		//justify-content: space-around;
		justify-self: center;
		align-self: center;
		//align-items: center;
		//margin: 2rem 0 0 0;
		width: 100%;
	
		h3{
			font-size: 2em;
			font-weight: bold;
			text-transform: uppercase;
			margin:  0 0 2em 0;
			display: block;
			text-align: center;
			// black line left
			&:before{
			  border-top: .1rem solid black;
			  content: "";
			  display: inline-block;
			  width: 30%;
			  margin-bottom: 0.3em;
			  margin-right: 20px;
			}
			//black line right
			&:after{
			  border-top: .1rem solid black;
			  content: "";
			  display: inline-block;
			  width: 30%;
			  margin-bottom: 0.3em;
			  margin-left: 20px;
			}
		  }
	}

	a {
		width: 100%;
		height: 100%;
		border-radius: 100%;
		z-index: 1;
	}

.icons {
	grid-area: b;
	display: flex;
		justify-content: center;
		align-items: center;
		
}
	.icon-container{

		display: flex;
		justify-content: center;
		align-items: center;
		width: 20%;
		
		.circle {	
			position: relative;
			width: 60%;
			height: 60%;
			border-radius: 100%;
			//overflow: hidden;
			display: flex;
			border: 1px solid $darkgrey2;
			z-index: 1;
			.icon-box {
				position: absolute;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				.icon{
					color: $darkgrey2;
					object-fit: scale-down;
					//font-size: 80px;
					width: 50%;
					height: 50%;
				}
			}
		}
		::after {
			content: '';
			display: block;
			padding-bottom: 100%;
		  } 
	}
	.circle:hover {
		background-color: $darkgrey;
		border: none;
	}
}