/* rowstart / columnstart / rowend / columnend*/
/*GRID SETUP WRAPPER*/
.wrapper {
	display: grid;
	width: 100%;
	//margin: 0 auto;
	grid-template-columns: 1fr 12fr 1fr;

    /* give the grid areas names */
    grid-template-areas: 
		". nv ."
		". content ."
		". SoMe ."
		". ft .";
}




