/*
	_styles.scss holds the core styles and imports other scss styles
	As musch as possible is done using css grid to make the page flexible.
	_wrapper.scss is the grid wrapper for the entire site, it has a head, content and footer section.
	_homepage, _collection, _product is content pages and has their own grid layout.
*/

@import "reset";
@import "mediaQueries";
@import "variables";
@import "wrapper";
@import "collection";
@import "product";
@import "homepage";

/* CORE STYLES */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

html, body {
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
}

.btn {
	display: block;
	cursor:pointer;
	text-decoration: none;
	text-transform: uppercase;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	border: 2px	solid #ffffff;
	//font-size: $buttonFontSize;
	font-size: $f-n;
	outline: none;
	z-index: 1;
}
.btn:hover {
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}